<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <appender name="STDOUT_STATISTIC" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} - %msg%n</pattern>
        </layout>
    </appender>


    <appender name="bdqLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.base}/logs/bqd_log.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover everyday -->
            <fileNamePattern>${catalina.base}/logs/bqd_log.%d.log</fileNamePattern>
            <!-- keep 10 days' worth of history -->
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="statisticsLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.base}/logs/statistic.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${catalina.base}/logs/statistic.%d.log</fileNamePattern>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--统计API访问-->
    <logger name="com.haizhi.bqd.web.rest.log.LogInterceptor" level="info" additivity="false">
        <appender-ref ref="statisticsLog"/>
        <!--<appender-ref ref="STDOUT_STATISTIC"/>-->
    </logger>


    <logger name="org.springframework" level="error">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="ch.qos.logback" level="error">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="com.haizhi.bqd" level="info">
        <appender-ref ref="STDOUT"/>
    </logger>

    <root level="info">
        <appender-ref ref="bdqLog"/>
        <!--<appender-ref ref="STDOUT"/>-->
    </root>

</configuration>
